body {
    font-size: 18px;
    font-family: $san-serif;
 
}
.jumbotron {
    &__lead{
        font-style: italic;
        font-family: $serif;
        font-size: 2em;
    }
    &__brand{
        font-family: $san-serif;
        font-size: 5em;

    }
}
.card{
    &-title{
        font-size: 2em;

    }
}
.form {
    &__row{

    }
}
p{
    margin-top: 1em;
}
.table{
    &__heading{
        font-size: 3em;
    }
    &__body {
        font-family: $serif;
        padding-top: 2em;

    }
}

// font-family: 'Pompiere', cursive;
// font-family: 'Questrial', sans-serif;