// COLORS
$color-primary: #60B2E5;
$color-primary-light: #B6DCF3;
$color-primary-dark: #234154;

$color-secondary: #57737A;
$color-secondary-light: #A3B2B6;
$color-secondary-dark: #303F43;

$color-tertiary: #BCD979;
$color-tertiary-light: #DAEAB5;
$color-tertiary-dark: #566337;

//FONTS

$serif: 'Pompiere', cursive;
$san_serif: 'Questrial', sans-serif;  
// $serif: 'Amatic SC', cursive;
// $serif: 'Tangerine', cursive;
// $san_serif: 'Acme', sans-serif;
// $san_serif: 'Chakra Petch', sans-serif;

//COLOR 2
// $color-primary: #656256;
// $color-primary-light: #B9B7B2;
// $color-primary-dark: #38362F;

// $color-secondary: #1E555C;
// $color-secondary-light: #ADC1C3;
// $color-secondary-dark: #112F33;

// $color-tertiary: #EB6534;
// $color-tertiary-light: #F4AB90;
// $color-tertiary-dark: #411C0F;

//COLOR3
// $color-primary: #E0CA3C;
// $color-primary-light: #F0E6A6;
// $color-primary-dark: #524A16;

// $color-secondary: #4C6085;
// $color-secondary-light: #BDC5D2;
// $color-secondary-dark: #232C3D;

// $color-tertiary: #136F63;
// $color-tertiary-light: #93BDB8;
// $color-tertiary-dark: #09332D;
