// COLORS
$color-primary: #60B2E5;
$color-primary-light: #B6DCF3;
$color-primary-dark: #234154;

$color-secondary: #57737A;
$color-secondary-light: #A3B2B6;
$color-secondary-dark: #303F43;

$color-tertiary: #BCD979;
$color-tertiary-light: #DAEAB5;
$color-tertiary-dark: #566337;