body {
  margin: 0;
  padding: 0;
  background-color: black; }

html {
  font-size: 62.5%; }

body {
  font-size: 18px;
  font-family: "Questrial", sans-serif; }

.jumbotron__lead {
  font-style: italic;
  font-family: "Pompiere", cursive;
  font-size: 2em; }

.jumbotron__brand {
  font-family: "Questrial", sans-serif;
  font-size: 5em; }

.card-title {
  font-size: 2em; }

.form__row {
  font-size: 1em; }

p {
  margin-top: 1em; }

.table__heading {
  font-size: 3em; }

.table__body {
  font-family: "Pompiere", cursive;
  padding-top: 2em; }

.modal__title {
  font-size: 3em; }

.modal__body {
  font-size: 1.8em;
  font-family: "Pompiere", cursive; }

.modal__footer {
  font-size: 1.5em;
  margin: 0 2em 0 2em; }

.card-subtitle {
  font-family: "Pompiere", cursive;
  font-size: 1.2em; }

.jumbotron {
  background-image: linear-gradient(-110deg, #BCD979, #A3B2B6);
  text-align: center; }

.modal {
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  background-color: #57737A;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .modal__title {
    color: #BCD979;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em; }
  .modal__body {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1em; }
  .modal__footer {
    display: flex;
    justify-content: center;
    align-items: center; }

.content {
  background-color: #234154;
  padding: 2em; }
  .content__map {
    margin-top: 1.8em; }

.card {
  margin: 2em; }
  .card-body {
    background-image: linear-gradient(30deg, #DAEAB5, #A3B2B6);
    box-shadow: 5px 5px 4px 5px #303F43; }
  .card-link {
    color: #60B2E5; }
  .card-title {
    color: #566337; }

.form {
  background-color: #303F43;
  color: #DAEAB5;
  padding: 2em; }
  .form-control {
    padding: 1em; }
  .form__row {
    display: flex;
    flex-direction: row; }
    .form__row-fieldOne {
      display: flex;
      flex-direction: row;
      width: 6em; }
    .form__row-fieldTwo {
      display: flex;
      flex-direction: row; }
    .form__row-fieldThree {
      display: flex;
      flex-direction: row; }
    .form__row-buttonTwo {
      display: flex;
      flex-direction: row; }
    .form__row-control {
      background-color: #A3B2B6; }

.btn:hover {
  background-color: #BCD979;
  color: #60B2E5;
  border-color: white; }

.btn {
  background-color: #60B2E5;
  border-style: solid;
  border-color: white;
  border-radius: 0%;
  font-size: 1.2em; }

#inputArtist {
  background-color: #A3B2B6;
  border-style: solid;
  border-color: white;
  border-radius: 0%;
  font-family: "Pompiere", cursive;
  font-size: 1.2em; }

#inputZipCode {
  background-color: #A3B2B6;
  border-style: solid;
  border-color: white;
  border-radius: 0%;
  font-family: "Pompiere", cursive;
  font-size: 1.2em; }

#inputSong {
  background-color: #A3B2B6;
  border-style: solid;
  border-color: white;
  border-radius: 0%;
  font-family: "Pompiere", cursive;
  font-size: 1.2em; }

.playlist {
  background-color: #A3B2B6;
  margin-top: 1em; }
