body {
  margin: 0;
  padding: 0;
  background-color: black; }

html {
  font-size: 62.5%; }

body {
  font-size: 18px;
  font-family: "Questrial", sans-serif; }

.jumbotron__lead {
  font-style: italic;
  font-family: "Pompiere", cursive;
  font-size: 2em; }

.jumbotron__brand {
  font-family: "Questrial", sans-serif;
  font-size: 5em; }

.card-title {
  font-size: 2em; }

p {
  margin-top: 1em; }

.table__heading {
  font-size: 3em; }

.table__body {
  font-family: "Pompiere", cursive;
  padding-top: 2em; }

.jumbotron {
  background-image: linear-gradient(-110deg, #BCD979, #A3B2B6);
  text-align: center; }

.content {
  background-color: #234154;
  padding: 2em; }

.card {
  margin: 2em; }
  .card-body {
    border-style: solid;
    border-width: 2px;
    background-color: #DAEAB5; }

.form {
  background-color: #303F43;
  color: #DAEAB5;
  padding: 2em; }
  .form__row {
    display: flex;
    flex-direction: row; }
    .form__row-fieldOne {
      display: flex;
      flex-direction: row;
      width: 5em; }
    .form__row-buttonOne {
      display: flex;
      flex-direction: row; }
    .form__row-fieldTwo {
      display: flex;
      flex-direction: row; }
    .form__row-fieldThree {
      display: flex;
      flex-direction: row; }
    .form__row-buttonTwo {
      display: flex;
      flex-direction: row; }

.btn {
  background-color: #60B2E5; }

.playlist {
  background-color: #A3B2B6;
  margin-top: 1em; }

tab {
  border: 2px solid white; }
