.content {
    background-color: $color-primary-dark;
    padding: 2em;
}

.card {
    margin: 2em;
    &-body{
        border-style: solid;
        border-width: 2px;
        background-color: $color-tertiary-light;
       
    }
}