.content {
    background-color: $color-primary-dark;
    padding: 2em;
}

.card {
    margin: 2em;
    &-body{
        // border-style: solid;
        // border-width: 2px;
        // border-color: $color-primary;
        background-color: $color-tertiary-light;
        box-shadow: 5px 5px 4px 5px $color-secondary-dark;
       
    }
    &-link{
        color: $color-primary;


    }
}