.form{
    background-color: $color-secondary-dark;
    color: $color-tertiary-light;
    padding: 2em;
    &__row{
        display:flex;
        flex-direction: row;
    }

}
.btn {
    background-color: $color-primary;
}
